body{
    background-image:url("../images/background.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}


/* .form-label
{ 
     display:flex;
    justify-content:center;
    align-items:center;
    
    position: absolute;
    left: 20px;
    top: 50%;
 }  */

.mb-3
{
    width:300px;
    height:100px;
}

.form-fill
{
    display:block;
    justify-items: right;
border:1px solid black;
width:fit-content;
height:max-content;

background-color:rgba(0, 0, 0, 0.692);
left: 20%;
color:rgba(0, 0, 0, 0.473);
}

 /* .sign{
   
    padding:10px;
    width:600px;
    background-color: white;
   margin: 400px 0px 0px 850px;
   border-style:hidden;
   border:1px solid white;
   box-shadow: 0px 0px 20px 4px  #000;
   display: flex;
   justify-content: end;
   align-items: end;
}  */

.main
{
    padding:10px;
    width:320px;
    background-color: white;
   margin: 400px 0px 0px 850px;
   border-style:hidden;
   border:1px solid white;
   box-shadow: 0px 0px 20px 4px  #000;
   display: flex;
   justify-content: end;
   align-items: end; 
}

/* .form-label
{
    width: 12px;
    height:13px;
} */

/* .btn btn-danger mt-3
{
    display:flex;
    justify-content: center;
} */

.form-control
{
    width: auto;
    height:30px;
}

.sign-button
{
    display:flex;
    justify-content: center;
    margin-bottom:10px;
}

.filling-up
{
    margin-left:10px;
}